
			<!-- Page Head -->
			<h2>欢迎管理员 Tony</h2>
			<p id="page-intro">你想要做什么?</p>
			
			<ul class="shortcut-buttons-set">
				
				<li><a class="shortcut-button" href="__GOTO__goods"><span>
					<img src="Public/resources/images/icons/pencil_48.png" alt="icon" /><br />
					商品管理
				</span></a></li>
				
				<li><a class="shortcut-button" href="__GOTO__order"><span>
					<img src="Public/resources/images/icons/paper_content_pencil_48.png" alt="icon" /><br />
					订单管理
				</span></a></li>
				
				<li><a class="shortcut-button" href="__GOTO__type"><span>
					<img src="Public/resources/images/icons/image_add_48.png" alt="icon" /><br />
					类别管理
				</span></a></li>
				
				<li><a class="shortcut-button" href="__GOTO__user"><span>
					<img src="Public/resources/images/icons/comment_48.png" alt="icon" /><br />
					用户管理
				</span></a></li>
				
			</ul><!-- End .shortcut-buttons-set -->
			
			<div class="clear"></div> <!-- End .clear -->
